body {
    background-color: black
}

.light-grey {
    color: #dddddd
}

.field-box {
    border: solid 1px #a1a1a1;
    padding: 1rem;
    background: #eeeeee;
    margin: 1rem 0.5rem;
    border-radius: 5px;
}

.dashboard {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'sidebar main'
}

.side-bar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
    padding: 10px;
}

li {
    list-style: none;
    padding: 10px;
}

ul,
li,
h1,
p,
a,
h2,
h3,
label {
    margin-bottom: 0% !important;
}

h1,
p,
a,
h2,
h3,
label {
    margin-right: 1rem !important;
}

.pitch-dashboard {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr 16fr 3fr 3fr 2fr 2fr 2fr 3fr;
    grid-template-areas: 'a b c d e f g h'
}

.pitch-index {
    grid-area: a
}

.pitch-title {
    grid-area: b;
    min-width: 45%;
}

.pitch-category {
    grid-area: c
}

.pitch-author {
    grid-area: d
}

.pitch-comments {
    grid-area: e
}

.pitch-likes {
    grid-area: f
}

.pitch-dislikes {
    grid-area: g
}

.pitch-date {
    grid-area: h
}

.fa,
.fas,
.far {
    font-size: 16px;
}

.text-md {
    font-size: 36px;
    color: #eece1a
}