{% extends 'layout.html' %}
{% block content %}
<div class="dashboard">
    <div class="side-bar border-right border-secondary">
        <h1>{{title}}</h1>
        <ul class="d-block pl-0">
            <li>
                <a class="nav-link" href="#">Posts</a>
                <ul>
                    <li>
                        <a href="">all</a>
                    </li>
                    <li>
                        <a href="">draft</a>
                    </li>
                    <li>
                        <a href="">published</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav-link" href="#">Comments</a>
            </li>
            <li>
                <a class="nav-link" href="#">Stats</a>
            </li>
            <li>
                <a class="nav-link" href="#">Settings</a>
            </li>
        </ul>
    </div>
    <div class="main px-3 ml-3">
        <div class="dash-content">
            <div class=" mb-3">
                <a href="" class="text-light m-0 btn btn-success">New Pitch</a>
            </div>
            <div class="pitch-items">
                <ul class="pl-0 ">
                    <li>
                        <div class="border-bottom d-inline-flex border-success pb-3 my-1 pitch-dashboard flex-fill">
                            <label class="d-flex align-items-center pitch-index flex-fill" for="number">1.</label>
                            <p class="d-flex align-items-center pitch-title flex-fill">
                                <span>Pitch Title will be positioned here</span>
                            </p>
                            <p class="d-flex align-items-center pitch-category flex-fill">category</p>
                            <p class="d-flex align-items-center pitch-author flex-fill">author</p>
                            <h3 class="d-flex align-items-center pitch-comments flex-fill"><span>
                                    <i class="fas fa-comment-dots">
                                        <span class="ml-1">1</span>
                                    </i>
                                </span></h3>
                            <h3 class="d-flex align-items-center pitch-likes flex-fill">
                                <span><i class="fas fa-thumbs-up">
                                        <span class="ml-1">1</span>
                                    </i></span>
                            </h3>
                            <h3 class="d-flex align-items-center pitch-dislikes flex-fill">
                                <span><i class="fas fa-thumbs-down">
                                        <span class="ml-1">1</span>
                                    </i></span>
                            </h3>
                            <p class="d-flex align-items-center pitch-date flex-fill mr-1">
                                <small class="text-muted">
                                    posted
                                </small>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}