{% extends 'layout.html' %}
{% block content %}
<div class="slider">
    <div class="box">
        <figure class="figure">
            <div class="slide">
                <img src="" alt="" class="slide-img">
                <div class="slide-content">
                    <h1>Slide 1</h1>
                </div>
            </div>
            <div class="slide">
                <img src="" alt="" class="slide-img">
                <div class="slide-content">
                    <h1>Slide 2</h1>
                </div>
            </div>
            <div class="slide">
                <img src="" alt="" class="slide-img">
                <div class="slide-content">
                    <h1>Slide 3</h1>
                </div>
            </div>
            <div class="slide">
                <img src="" alt="" class="slide-img">
                <div class="slide-content">
                    <h1>Slide 4</h1>
                </div>
            </div>
        </figure>
    </div>
</div>
<div class="pitches">
    <div class="pitch">

    </div>
</div>
{% endblock content %}