<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand mr-5">
            <h2 class="mb-0 light-grey">Elevator Pitches</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link text-info" href="#">Home</a>
                <a class="nav-item nav-link text-info" href="#">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link text-info" href="#">Login</a>
                <a class="nav-item nav-link text-info" href="#">Register</a>
            </div>
        </div>
    </div>

</nav>